[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
pyserial = "*"

[dev-packages]
build = "*"
coverage = "*"
coverage-badge = "*"
twine = "*"
scom = {editable = true, path = "."}

[requires]
python_version = "3.9"  # 3.8 and above is OK
